<body>
<div class="card">
    <div class="imgBox">
        <div class="bark"></div>
        <img src="https://i.ibb.co/gdTMyjQ/Dise-o-sin-t-tulo.png">
    </div>
    <div class="details">
        <h4 class="color1">¡¡Felicidades!!</h4>
        <h4 class="color2 margin">FELIZ CUMPLEAÑOS!!</h4>
        <div class="text">
        <p>Una persona tan especial</p>
        <p>como tú se merece</p>
        <p>toda la felicidad</p>
        <p>del mundo y un poco más, espero</p>
        <p>que todo lo que sueñes se cumpla.</p>
        <p>Te volviste tan especial para mi</p>
        <p>que le agradesco a la vida</p>
        <p>por permitirme coincidir contigo.</p>
        <p class="text-right">Feliz Cumpleaños, Ari!</p>
        <p class="text-right">♥Mateo</p>
    </div>
    </div>
</div>
</body>